* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  background-color: #121114;
  color: #ccc;
  font: 14px/1.2 -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 26px;
  overflow: hidden;
}

a,
.button-splash,
.border-splash {
  transition: .1s all ease-in-out;
}

a {
  color: #ccc;
}

a:hover {
  color: #eee;
  text-decoration: none;
}

#container,
#preloader {
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.splash {
  background: url(../images/bg.jpg) no-repeat 50% fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 30;
}

#launchHeader {
  height: 116px;
  margin: 0 auto;
  padding: 30px;
  width: 500px;
}

#logoExperience {
  background: url(../images/logoExperienceOnly.png) no-repeat;
  background-size: 100%;
  height: 80px;
  text-indent: -9999px;
  width: 500px;
}

#logoMozillaVR a {
  background: url(../images/logoMozillaVR.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  float: right;
  height: 36px;
  text-indent: -9999px;
  width: 168px;
}

#launchBody {
  clear: both;
  width: 100%;
}

#buttons {
  margin: 0 auto;
  width: 640px;
}

.buttonContainer {
  cursor: pointer;
  display: inline-block;
  margin: 30px auto 15px;
  max-width: 300px;
  min-width: 280px;
  text-align: center;
}

.buttonContainer + .buttonContainer {
  margin-left: 30px;
}

.button-fake,
button {
  cursor: pointer;
  font-family: inherit;
}

a.buttonContainer,
a.buttonContainer:hover {
  text-decoration: none;
}

.button-splash {
  background: none;
  border: 0;
  display: block;
  padding: 10px 0;
}

.border-splash {
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,255,255,.25);
  box-shadow: 0 0 0 4px hsla(0,0%,50%,.15);
  width: 100%;
}

.button-fake .border-splash {
  color: #ccc;
  display: inline-block;
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  position: relative;
  top: -10px;
  left: -10px;
  margin: 10px 10px 0;
  text-align: center;
}

a:hover .border-splash {
  background: rgba(255,255,255,.3);
  box-shadow: 0 0 0 4px hsla(0,0%,50%,.3),
    0 0 0 5px hsla(0,0%,90%,.05),
    inset 0 0 0 4px rgba(255,255,255,.15);
  border-color: rgba(255,255,255,.5);
  color: #fff;
}

.buttonAlert {
  margin-top: -10px;
  opacity: .75;
  text-align: center;
}

a:hover .buttonAlert {
  opacity: 1;
}

#launchFooter {
  bottom: 10px;
  font-size: 16px;
  position: absolute;
  width: 100%;
}

#roomAlert,
#soonAlert,
#readMore {
  text-align: center;
}

@media (max-width: 719px) {
  .splash {
    background-image: url(../images/bgFallback.jpg);
    background-size: cover;
  }

  #launchHeader {
    height: 77px;
    margin: 0 auto;
    padding: 20px 20px 40px;
    width: 300px;
  }

  #logoExperience {
    background: url(../images/logoExperienceOnly.png) no-repeat;
    height: 48px;
    width: 300px;
  }

  #logoMozillaVR a {
    background: url(../images/logoMozillaVR.png) no-repeat;
    height: 29px;
    width: 133px;
  }

  #buttons {
    margin: 0 auto;
    width: 300px;
  }

  .buttonContainer {
    float: left;
    margin-bottom: 15px;
    width: 300px;
  }

  .buttonContainer + .buttonContainer {
    margin-left: 0;
  }

  .buttonContainer img {
    display: none;
  }

  #launchFooter {
    bottom: 5px;
    font-size: 11px;
  }

  #roomAlert,
  #soonAlert {
    height: 20px;
  }
}

/* Begin preloader styles. */
@keyframes preloader-anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  background: none;
  height: 200px;
  position: relative;
  width: 200px;
}

.preloader > div {
  animation: preloader-anim 1s linear infinite;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 rgba(255,255,255,.1);
  display: block;
  height: 160px;
  left: 50%;
  margin-left: -80px;
  margin-top: -80px;
  position: fixed;
  top: 50%;
  width: 160px;
}

.hidden {
  animation: none !important;
  display: none !important;
  transform: none !important;
  transition-property: none !important;
}
/* End preloader styles. */

.enter-vr {
  border-color: rgba(255,255,255,.5);
  cursor: pointer;
  font-size: 24px;
  height: 160px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 160px;
  z-index: 100;
}
