@font-face{
  font-family:'FiraSans';
  src:url('fonts/fira/eot/FiraSans-Thin.eot');
  src:url('fonts/fira/eot/FiraSans-Thin.eot?#iefix') format('embedded-opentype'),
      url('fonts/fira/woff/FiraSans-Thin.woff') format('woff'),
      url('fonts/fira/ttf/FiraSans-Thin.ttf') format('truetype');
      font-weight:normal;
      font-style:normal
}

body {
  background-color: #121114;
  color: #888;
  font-family: FiraSans,Helvetica;
  margin: 0px;
  font-size: 14px;
}

a{
  color: #888;
  font-weight: bold;
}

a:hover{
  text-decoration: none;
}

#fallback{

}

#forVive{
  padding-top: 10px;
  text-align: center;
  position: absolute;
  font-size: 16px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#fallbackHeader{
    background:url(../images/fallbackHeader.jpg) no-repeat center center;
    width:100%;
    background-size:contain;
    position:relative;
    padding-bottom:49.47%;
}

#fallbackHeader span {
          width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      display:block;
  }

#fallbackBody{
 padding-top: 20px;
}

.responsive-container {
	position: relative;
	padding-bottom: 47.8%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
  margin: 0 auto;
}
.responsive-container,
	.responsive-container iframe {
	max-width: 1280px;
	max-height: 720px;
}
.responsive-container iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

#fallbackFooter{
  padding-top: 30px;
  width: 100%;
  bottom: 10px;
}

#alert{
    width: 600px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    background: rgba(200, 54, 54, 0.5);
}

#readMore{
  margin: 15px;
    font-size: 36px;
    text-align: center;
    height: 100px;
}
#roomAlert{
  margin: 15px;
  text-align: center;
}

/*Init Preloader styles*/
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes uil-ring-anim {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.uil-ring-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
}
.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 160px;
  height: 160px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 rgba(255,255,255,0.1);
  -ms-animation: uil-ring-anim 1s linear infinite;
  -moz-animation: uil-ring-anim 1s linear infinite;
  -webkit-animation: uil-ring-anim 1s linear infinite;
  -o-animation: uil-ring-anim 1s linear infinite;
  animation: uil-ring-anim 1s linear infinite;
}

.hide{
  display: none;

  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;

  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;

  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
/*End Preloader styles*/
@media (max-width: 700px) {
  #forVive{
    font-size: 12px;
  }
  #alert{
    font-size: 16px;
      width: 480px;
  }
}
@media (max-width: 500px) {
  #forVive{
    font-size: 12px;
  }
  #readMore{
      font-size: 24px;
    }
    #alert{
      font-size: 14px;
        width: 320px;
    }
}

@media (orientation: landscape) {
  #fallbackHeader{
      background:url(../images/fallbackHeaderLandscape.jpg) no-repeat center center;
      width:100%;
      background-size:contain;
      position:relative;
      padding-bottom:35.39%;
  }
}
