@font-face{
  font-family:'FiraSans';
  src:url('fonts/fira/eot/FiraSans-Thin.eot');
  src:url('fonts/fira/eot/FiraSans-Thin.eot?#iefix') format('embedded-opentype'),
      url('fonts/fira/woff/FiraSans-Thin.woff') format('woff'),
      url('fonts/fira/ttf/FiraSans-Thin.ttf') format('truetype');
      font-weight:normal;
      font-style:normal
}

body {
  background-color: #121114;
  color: #ccc;
  font-family: FiraSans,Helvetica;
  margin: 0px;
  font-size: 14px;
}

a{
  color: #ccc;
  font-weight: bold;
}

a:hover{
  text-decoration: none;
}

#fallback{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  height: 100%;
  position: absolute;
  background: url(../images/bgFallback.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#fallbackHeader{
  width: 100%;
}

#logoTheComposer{
  margin: 20px auto;
  width: 512px;
  height: 148px;
  background: url(../images/logoTheComposer.png) 0 0 no-repeat;
  background-size: 100%;
  text-indent: -9999px;
}

#fallbackBody{
}

.responsive-container {
	position: relative;
  height: 360px;
	overflow: hidden;
  margin: 0 auto;
}
.responsive-container,
	.responsive-container iframe {
	max-width: 640px;
	max-height: 360px;
}
.responsive-container iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

#fallbackFooter{
  width: 100%;
  bottom: 10px;
}

#alert{
    width: 620px;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    background: rgba(200, 54, 54, 0.5);
}

#readMore{
  margin: 15px;
    font-size: 36px;
    text-align: center;
}
#roomAlert{
  margin: 15px;
  text-align: center;
}

/*End Preloader styles*/
@media (max-width: 700px) {

  #logoTheComposer{
    margin: 10px auto;
    width: 338px;
    height: 98px;
    background: url(../images/logoTheComposer.png) 0 0 no-repeat;
    background-size: 100%;
    text-indent: -9999px;
  }

  #alert{
    font-size: 16px;
      width: 100%;
      padding: 5px 0;
  }

  .responsive-container {
    position: relative;
    padding: 27%;
    height: 0;
    overflow: hidden;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {

  #readMore{
      font-size: 24px;
    }
    #alert{
      font-size: 14px;
    }
}
