@font-face {
  font-family: FiraSans;
  font-style: normal;
  font-weight: normal;
  src: url(fonts/fira/eot/FiraSans-Thin.eot);
  src: url(fonts/fira/eot/FiraSans-Thin.eot?#iefix) format("embedded-opentype"),
       url(fonts/fira/woff/FiraSans-Thin.woff) format("woff"),
       url(fonts/fira/ttf/FiraSans-Thin.ttf) format("truetype");
}

body {
  background-color: #121114;
  color: #ccc;
  font-family: FiraSans, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  overflow: hidden;
}

a {
  color: #ccc;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

#container,
#preloader {
  box-sizing: border-box;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#launch {
  background: url(../images/bg.jpg) no-repeat 50% fixed;
  background-size: cover;
  display: none;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 30;
}

#launchHeader {
  height: 116px;
  margin: 0 auto;
  padding: 30px;
  width: 500px;
}

#logoExperience {
  background: url(../images/logoExperienceOnly.png) no-repeat;
  background-size: 100%;
  height: 80px;
  text-indent: -9999px;
  width: 500px;
}

#logoMozillaVR a {
  background: url(../images/logoMozillaVR.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  float: right;
  height: 36px;
  text-indent: -9999px;
  width: 168px;
}

#launchBody {
  clear: both;
  width: 100%;
}

#buttons {
  margin: 0 auto;
  width: 640px;
}

.buttonContainer {
  display: inline-block;
  width: 300px;
  text-align: center;
}

.buttonContainer img {
  border: 1px solid rgba(255,255,255,0.25);
  width: 290px;
}

.buttonContainer + .buttonContainer {
  margin-left: 30px;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.launch__body .button {
  background: none;
  border: 0;
  display: block;
  padding: 10px;
}

.button__inner {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255,255,255,0.25);
  box-shadow: 0 0 0 4px hsla(0, 0%, 50%, 0.15);
  color: #ccc;
  display: inline-block;
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  position: relative;
  top: -10px;
  left: -10px;
  margin: 10px 10px 0;
  min-width: 280px;
  text-align: center;
}

.button:hover .button__inner {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 4px hsla(0, 0%, 50%, 0.3), 0 0 0 5px hsla(0, 0%, 90%, 0.05), inset 0 0 0 4px rgba(255, 255, 255, 0.15);
  border-color: rgba(255,255,255,0.5);
  color: #fff;
}

.buttonAlert {
  text-align: center;
}

#launchFooter {
  bottom: 10px;
  font-size: 16px;
  position: absolute;
  width: 100%;
}

#roomAlert,
#soonAlert,
#readMore {
  text-align: center;
}

/*@media (max-height: 670px) {
  #launchFooter {
    display: none;
  }
}*/

@media (max-width: 720px) {
  #launch {
    background: url(../images/bgFallback.jpg) no-repeat 50% fixed;
    background-size: cover;
  }

  #launchHeader {
    height: 77px;
    margin: 0 auto;
    padding: 20px 20px 40px;
    width: 300px;
  }

  #logoExperience {
    background: url(../images/logoExperienceOnly.png) no-repeat;
    background-size: 100%;
    height: 48px;
    text-indent: -9999px;
    width: 300px;
  }

  #logoMozillaVR a {
    background: url(../images/logoMozillaVR.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
    float: right;
    height: 29px;
    text-indent: -9999px;
    width: 133px;
  }

  #buttons {
    margin: 0 auto;
    width: 300px;
  }

  .buttonContainer {
    float: left;
    padding-bottom: 30px;
    width: 300px;
  }

  .buttonContainer + .buttonContainer {
    margin-left: 0;
  }

  .buttonContainer img {
    display: none;
  }

  #launchFooter {
    bottom: 5px;
    font-size: 11px;
  }

  #roomAlert,
  #soonAlert {
    height: 20px;
  }
}

/* Begin preloader styles. */
@keyframes uil-ring-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.uil-ring-css {
  background: none;
  height: 200px;
  position: relative;
  width: 200px;
}
.uil-ring-css > div {
  animation: uil-ring-anim 1s linear infinite;
  border-radius: 80px;
  box-shadow: 0 6px 0 0 rgba(255,255,255,0.1);
  display: block;
  height: 160px;
  left: 50%;
  margin-left: -80px;
  margin-top: -80px;
  position: absolute;
  position: fixed;
  top: 50%;
  width: 160px;
}
.hide {
  animation: none !important;
  display: none;
  transform: none !important;
  transition-property: none !important;
}
/* End preloader styles. */

#enterVR {
  border-color: rgba(255,255,255,.5);
  cursor: pointer;
  display: none;
  font-size: 24px;
  height: 160px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 160px;
  z-index: 100;
}
