* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 14px;
}

body {
  color: #ccc;
  font: 1rem/1.3 -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  position: relative;
}

a {
  color: #ccc;
}

a:hover {
  color: #eee;
  text-decoration: none;
}

.fallback-doc {
  background: url(../images/bgFallback.jpg) 50% 100% fixed no-repeat;
  background-size: cover;
  padding: 2vw 0;
}

.logoExperience {
  background: url(../images/logoExperienceOnly.png) 50% no-repeat;
  background-size: contain;
  height: 80px;
  text-indent: -9999px;
}

.logoMozillaVR a {
  background: url(../images/logoMozillaVR.png) 50% no-repeat;
  background-size: contain;
  cursor: pointer;
  display: block;
  height: 36px;
  text-indent: -9999px;
}

.iframe {
  border: 0;
  display: block;
  height: 100%;
  width: 100%;
}

.iframe-video {
  min-height: 300px;
  margin: 0 auto;
  height: 400px;
  max-height: 700px;
  max-width: 72vw;
}

.video .wrap {
  position: relative;
  min-height: 200px;
}

.fallback-footer {
  opacity: .7;
  padding-bottom: 2vw;
  width: 100%;
}

.alert-learn {
  background: rgba(200, 54, 54, 0.5);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.5);
  font-size: 1rem;
  margin: 1rem auto;
}

.wrap {
  margin: 0 auto;
  min-width: 300px;
  max-width: 620px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.read-more {
  font-size: 2rem;
  padding-top: .5rem;
  text-align: center;
}

.footer {
  line-height: 1.5;
}

.footer p + p {
  margin-top: .75rem;
}

.footer p a {
  font-weight: 500;
}

@media (max-height: 760px), (max-width: 640px) {
  .logoExperience {
    height: 48px;
  }

  .logoMozillaVR a {
    height: 29px;
  }

  .readMore {
    font-size: 24px;
    margin: 10px;
  }

  .fallback-footer {
    bottom: 5px;
    font-size: 12px;
  }

  #soonAlert {
    margin: 5px;
  }
}

@media (min-height: 690px) {
  .fallback-footer {
    display: block;
  }
}

@media (max-width: 639px) {
  .iframe-video {
    min-height: auto;
    height: 300px;
    max-width: 90%;
  }
}
